<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top bg-bootstrap-backend" role="navigation">

        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>

            <span class="visible-lg-inline-block" style="margin-top: -2em">
                    <a href="{{ path('b_home') }}">

                            <div class="row">
                                <div class="col-md-3" style="margin-top: 1.4em;margin-left: 0.4em">
                                <img src="/assets/cale-logo.svg" width="150">
                                </div>
                            </div>
                    </a>
                </span>

        </div>
        <nav id="bs-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left" style="margin-left: 6em">
                <li><a  href="{{ path('b_home_apis') }}">Apis</a></li>
                <li><a  href="{{ path('b_screens') }}">Screens</a></li>

                <li class="dropdown"><a href="#" data-toggle="dropdown" aria-expanded="false">User <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('b_user_profile') }}" >User profile</a> </li>
                        <li><a href="{{ path('b_agreement') }}">User agreement</a> </li>
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    </ul>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li><a  href="{{ path('b_users') }}">List users</a></li>
                {% endif %}
            </ul>
            <div class="text-right" style="margin-top:.7em;margin-right:1em">
               {{ app.user.timezone }} {{ "now"|date(app.user.dateFormat) }} {{ "now"|date(app.user.hourFormat) }}
            </div>
        </nav>
    </div>
</div>