<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top bg-bootstrap" role="navigation">

        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>

            <span class="visible-sm-inline-block visible-xs-inline-block visible-lg-inline-block" style="margin-top: -2em">
                    <a href="/">
                            <div class="row">
                                <div class="col-md-3" style="margin-top: 1.4em;margin-left: 0.4em">
                                <img src="/assets/cale-logo-black.svg" width="150">
                                </div>
                            </div>
                    </a>
                </span>
        </div>

        <nav id="bs-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('www_getting-started') }}"><span class="glyphicon glyphicon-play-circle"></span>
                        {{ 'nav_get_started'|trans }}</a></li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" aria-expanded="false">
                        {{ 'nav_about'|trans }} <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('about-cale') }}">
                        {{ 'nav_about'|trans }}</a></li>
                        <li><a href="{{ path('transparently') }}">
                                {{ 'nav_transparently_built'|trans }}</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" aria-expanded="false">
                        {{ 'nav_service'|trans }} <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('www_service-pricing') }}">
                                {{ 'nav_pricing'|trans }}</a></li>
                        <li><a href="{{ path('www_server-architecture') }}">{{ 'nav_server_architecture'|trans }}</a></li>
                        <li><a href="{{ path('apis') }}">{{ 'nav_apis'|trans }}</a></li>
                        <li><a href="{{ path('www_api-cloudwatch') }}">{{ 'nav_api_cloudwatch'|trans }}</a></li>
                        <li><a href="{{ path('displays-eink') }}">Eink Displays</a></li>
                        <li><a href="{{ path('displays-tft') }}">TFT Displays</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('firmware') }}" data-toggle="tooltip" title="ESP32">Firmware</a></li>

                <li class="dropdown"><a href="#" data-toggle="dropdown" aria-expanded="false">
                        {{ 'nav_language'|trans }} <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path(app.request.attributes.get('_route'), {'_locale':'en'}) }}" >English</a></li>
                        <li><a href="{{ path(app.request.attributes.get('_route'), {'_locale':'es'}) }}" >Español</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('register') }}">Register</a></li>
                <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            </ul>
        </nav>
    </div>
</div>