{% block choice_widget_expanded %}
        <div {{ block('widget_container_attributes') }} class="my-form-choices">
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
        <div class="checkbox">
            <label for="{{ id }}"><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
        </div>
{% endblock checkbox_widget %}