{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }

        #myCarousel .item {
            height: {{ carousel_high }}px;
            width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <h3>What is CALE?</h3>

    <p><b>CALE is a screen administrator where you can mix content of different APIs and control the content
            output</b><br>

        <video width="100%" controls>
            <source src="{{ cdn_s3 }}/v/cale-1.mov">
        </video>

        This output can be exported as a bitmap image and can be used to refresh dynamically external displays such as
        Epaper or Eink displays that are connected to WiFi.
        But you can use it also to display this API mixins in your monitor, tablet or any device. CALE will support up
        to 3 different screen compositions.
        Check our Firmware for ESP32 and <a href="{{ path('displays-eink') }}">the supported E-ink displays</a> in order to build
        one of this displays yourself. Additionally we recently added support for <a href="{{ path('displays-tft') }}">TFT Displays</a> (Firmware coming at the beginning of April 2020)
    </p>
    <h3>Electronic Ink</h3>
    <p>Primary target displays are the so called Eink or Epaper.
        The technical term is electrophoretic ink, that when laminated to a plastic film and then adhered to
        electronics, it creates an Electronic Paper Display (EPD).
        They ones that expose an SPI interface for makers come in up to 2 EInk colors, 3 colors counting the white
        background, but in the first version of this Screen administrator tool we are targeting only the ones with Black
        ink (2 colors).
    </p>
    <div class="row">
        <div class="col-md-6">
            <b>Eink is made of millions of tiny microcapsules</b><br>
            <img src="/assets/svg/eink-1.svg" width="199"><br>
            This particles are the diameter of human hairs. We are <a href="{{ path('displays-eink') }}">supporting many EPD displays</a> using the library <a
                    href="https://github.com/ZinggJM/GxEPD" target="_blank">GxEPD</a>
        </div>
        <div class="col-md-6">
            <b>Each microcapsule contains electrically charged particles</b><br>
            <img src="/assets/svg/eink-2.svg" width="199"><br>
            When an electrical field is applied the microcapsules with opposite sign
            float to the top of the display, creating a crisp image that can be seen withouth any backlight.
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="./js/engine/common.js"></script>
{% endblock %}