{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}
{% set recommended_link = 'https://www.digitspace.com/lilygo-ttgo-t5s-v2-8-esp32-2-7-inch-black-epaper-plus-module-for-alexa-i2s-dac-max98357a-mems-microphone-ics43434?9c12f43bc77de9e6' %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <h3>E-ink Displays unterstützt</h3>

    <table style="border-spacing:4px;width: 99%">
        <thead>
        </tr>
        <th></th>
        <th>gxEPD Name und Ressourcen</th>
        <th>Auflösung</th>
        <th>URLs</th>
        </tr>
        </thead>
        <tbody>
        {% for d in displays %}
        {% if d.classname == 'GDEW029T5' %}
            {% set h = 100 %}
        {% elseif d.classname == 'GDEH029A1'  %}
            {% set h = 100 %}
        {% else %}
            {% set h = 150 %}
        {% endif %}
            <tr style="border:1px #1b6d85 dashed">
                <td>
                <a href="{{ d.purchaseUrl }}" target="_blank"><img style="height:{{ h }}px;margin-top: 1px" src="/assets/display/{{ d.className }}.jpg"></a><br>
                    &nbsp;<small>{{ d.brand }}</small>
                </td>

                <td><h3>{{ d.name }}</h3>
                    {{ d.htmlDescription|raw }}
                    <br>Aktualisierungszeit: {{ d.timeOfRefresh }} Millis
                </td>

                <td>{{ d.width }}x{{ d.height }}</td>

                <td><a href="{{ d.manualUrl }}" target="_blank">www</a>&nbsp;
                    <br>
                    <button class="btn btn-primary" onclick="window.location='{{ d.purchaseUrl }}'">Kaufen</button>
                </td>
            </tr>
        {% endfor %}
        <tr style="border:1px #1b6d85 dashed">
            <td>
                <a id="recommended"></a>
                <a href="{{ recommended_link }}" target="_blank"><img style="height:200px" src="/assets/display/T5S.jpg"></a><br>
                &nbsp;<small>TTGO</small> &nbsp;&nbsp;Epaper mit ESP32 und deepsleep verbrauch von 0.17 mA/Stunde.
                <br>&nbsp;<b>Empfohlen, mit <span class="cale" style="font-weight:bolder">CALE</span> Web-Service zu beginnen</b>
            </td>
            <td>2.7"
            </td>
            <td>264x176</td>

            <td><a href="http://www.lilygo.cn/prod_view.aspx?TypeId=50031&Id=1088&FId=t3:50031:3" target="_blank">webpage</a>&nbsp;
                <br>
                <button class="btn btn-primary" onclick="window.location='{{ recommended_link }}'">Buy</button>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    Bitte benutzen Sie unsere <a href="{{ path('firmware-blue') }}" >C++ Epaper Firmware</a> um <span class="cale">CALE Screen manager</span>
    output in seine Display zu darstellen.
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}