{% extends 'backend/backend-base.html.twig' %}

{% block body %}
{{ 'subscription_description'|trans }}
<br><br>
<div class="row">
   <div class="col-md-2">
   <b>Subscription status:</b>
   </div>

   <div class="col-md-2">
      {% if (subscription) %}
      <span class="alert-primary">ACTIVE</span>
      {% else %}
      <span class="alert-danger">INACTIVE</span>
      {% endif %}
   </div>
</div>

   {% if (user.paypalEmail != '') %}
<div class="row">
   <div class="col-md-2">
      <b>Paypal Email:</b>
   </div>
   <div class="col-md-2">
      {{ user.paypalEmail }}
   </div>
</div>
   {% if (subscription == 1) %}
      <div class="row">
         <div class="col-md-2">
            <b>Subscription enabled till:</b>
         </div>
         <div class="col-md-2">
            {{ user.paidTill|date('l j, F Y h:i') }}
         </div>
      </div>
   {% endif %}
      <div class="row">
         <div class="col-md-2">
            <b>Username:</b>
         </div>
         <div class="col-md-2">
            {{ user.name }}
         </div>
      </div>
      <br>
   {% else %}
      <br>Your Paypal Email is not set. Please <a href="{{ path('b_paypal') }}">configure it here</a> so you can pay your subscription
   {% endif %}

   {% if (subscription == 0) %}
   <br>
   <script src="https://www.paypal.com/sdk/js?client-id=BAAqX5TILNQKMqWrZEAPBNpa5DBUc-8ZOaANIh4YoD-UMH7g7mosci0S3sLO94D_BuOsH4FJiesxOSjcGE&components=hosted-buttons&disable-funding=venmo&currency=EUR"></script>
   <div id="paypal-container-F4DDALET59T4L"></div>
   <script>
      paypal.HostedButtons({
         hostedButtonId: "F4DDALET59T4L",
      }).render("#paypal-container-F4DDALET59T4L")
   </script>
   {% endif %}
   <br>
   PayPal recurring payments will be set with Payum in the next days. Please set the paypal Email and send a <b>3 €</b> payment to <b>martin@cale.es</b> to activate
   your subscription till the end of November 2024. Your account will be credited in the next 6 hrs of receiving the payment.
   {#<a href="{{ path('b_paypal_agreement') }}">Start subscription service</a>#}
   {% endblock %}
