{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <h3>Displays de E-ink soportados por el Firmware</h3>


    <table style="border-spacing:4px;width: 99%">
        <tbody>
        {% for d in displays %}
            {% set h = 200 %}
            {% if d.classname == 'GDEW029T5' or d.classname == 'GDEH029A1' %}
                {% set h = 150 %}
            {% endif %}
            <tr style="border:1px #1b6d85 dashed">
                <td style="width:300px">
                    <a href="{{ path('eink-landing', {'brand': d.brand, 'id':d.id}) }}" title="Read full details">
                        <img style="height:{{ h }}px;margin-top: 1px" src="{{ file_exists(web_path, '/assets/display/', d.className, '.jpg') }}"></a><br>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{ path('eink-landing', {'brand': d.brand, 'id':d.id}) }}" title="Read full details"><small>{{ d.brand|replace({'_':' '}) }}</small></a>
                        </div>
                        <div class="col-md-6 text-right">
                            <b>{{ d.width }}x{{ d.height }}</b>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div> &nbsp;
                </td>
                <td><h3>{{ d.name }}</h3>
                    {{ d.htmlDescription|raw }}
                </td>

                <td><a href="{{ d.manualUrl }}" target="_blank">web</a>
                    <br><br>
                    <button class="btn btn-primary" onclick="window.location='{{ d.purchaseUrl }}'">Comprar</button><br><br>
                    <a href="{{ path('eink-landing', {'brand': d.brand, 'id':d.id}) }}">Detalles</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}