{% extends 'backend/backend-base.html.twig' %}

{% set remove_img_visibility = 'hidden' %}

{# HTML editor include #}
{% block stylesheets %}
    <script src="/js/jquery/jquery-2.1.0.min.js"></script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">

        <div class="col-md-8 col-sm-8 col-xs-12">

            {{ form_errors(form) }}
            {{ form_row(form.name) }}

            {{ form_row(form.imageFile) }}

            {{ form_row(form.caption) }}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            {% if gallery_images|length %}<label>Gallery contents</label>{% endif %}
            {#{{ dump(gallery_images) }}#}
            {% for i in gallery_images %}
                <div class="row" style="margin-bottom:1em">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                <img src="{{ gallery_path ~ '/' ~ i.imageId ~ '.' ~ i.extension }}" style="max-width: 140px">
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        {{ i.kb }} Kb. Position: {{ i.position }}<br>
                        <span style="font-size: 9pt;color:#333333">{{ i.caption }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
<div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12">
        {{ form_widget(form.submit) }}
    </div>
</div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

    <script>

    </script>
{% endblock %}
