{% extends 'backend/backend-base.html.twig' %}
{% if screens|length >= user_max_screens %}
    {% set add_button_state = 'disabled' %}
{% else %}
    {% set add_button_state = '' %}
{% endif %}

{% block body %}
    <p>You can configure up to {{ user_max_screens }} different output Screens.</p>
    <div class="text-right" style="margin-bottom: 0.4em">
        <button type="button" {{ add_button_state }} class="btn btn-primary" onclick="window.location='{{ path('b_screen_edit') }}'">Add new Screen</button>
    </div>


 {% if screens|length %}
<table class="common-lists-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Template</th>
        <th>Eink output</th>
        <th>Partials</th>
        <th>Created</th>
        <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    {% for s in screens %}
        <tr>
            <td><b>{{ s.name }}</b><br>
            <small>{{ s.uuid }}</small></td>
            <td><img width="80" src="/img/display-templates/{{ s.templateTwig|replace({"html.twig": "svg"}) }}"></td>
            <td>{{ s.display }}</td>
            <td><a class="alert alert-success" href="{{ path('b_screen_partials', {'uuid':s.uuid}) }}">{{ s.partials|length }}</a></td>
            <td>{{ s.created|date("d.m.Y") }}</td>
            <td>
                <a class="alert alert-info" href="{{ path('b_screen_edit', {'uuid':s.uuid}) }}">Edit</a>
                {% if s.partials|length %}
                <a class="alert alert-success" href="{{ path('b_screen_render', {'uuid':s.uuid}) }}">Render screen</a>
                    {% else %}
                        <a class="alert alert-danger" href="{{ path('b_screen_delete', {'uuid':s.uuid}) }}">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


 {% else %}
     You still don't have any screens configured. <a href="{{ path('b_screen_edit') }}">Add one Screen</a>
{% endif %}
{% endblock %}
