{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
<div class="row">
    <div class="col-md-6">
    <p>Your username will be used to generate URLs like cale.es/username/screen/ID</p>
    {{ form_row(form.name) }}
    </div>
</div>
    <h3>User agreement</h3>
{% include 'partials/agreement-content.html.twig' %}

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        {{ form_widget(form.confirm) }} {{ form_label(form.confirm) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_widget(form.declineAction) }}
    </div>
    <div class="col-md-6">
        {{ form_widget(form.confirmAction) }}
    </div>
</div>
    {{ form_end(form) }}

{% endblock %}
