{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    <p>{{ 'apis_header'|trans }}.</p>
    <div class="text-right" style="margin-bottom: 0.4em">
        <button class="btn btn-default" onclick="introJs().start();">
            <span class="glyphicon glyphicon-question-sign"></span> {{ 'Guide'|trans }}</button>
        <button type="button" class="btn btn-primary" onclick="window.location='{{ path('b_api_configure') }}'"
                data-step="1" data-intro="Click here to add a new API connection to get fresh content">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Connect a new'|trans }} API</button>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if apis|length %}
            <table class="common-lists-table">
                <thead>
                <tr>
                {#<th>ID</th>#}
                <th>{{'Name'|trans}}</th>
                <th title="Access Token/Auth Code (for OAuth2)">Access</th>
                <th>{{'Created'|trans}}</th>
                <th title="There can be more of one Integration for API (ex. weather in Berlin / weather in Paris)">
                    {{ 'Integrations'|trans }}
                </th>
                <th>Admin</th>
                </tr>
                </thead>
                <tbody>
                {% for a in apis %}
                    <tr>
                        {#<td>{{ a.id }}</td>#}
                        <td><a title="external Documentation" href="{{ a.doc_url }}" target="_blank">
                                <span class="glyphicon glyphicon-link"></span></a> {{ a.name }}</td>
                        <td>{% if a.hasToken == 'ok' or a.is_configured %}
                            <img src="/assets/icon/checked.svg" width="24">
                                {% else %}
                                {{ a.hasToken }}
                            {% endif %}
                        </td>
                        <td>{{ a.created|date("d.m.Y") }}</td>
                        <td>
                            {% for i in a.integrations %}
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if a.edit_route != "" %}
                    <a title="Edit" href="{{ path(a.edit_route, {'uuid':a.userapi_id, 'intapi_uuid':i.id, 'step':2}) }}">
                        <span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                                        {% endif %}
                                        {{ i.name }}
                                    </div>
                                    <div class="col-md-6">
                                        {% if i.language %}
                                            <b>Lang:</b>{{ i.language }}&nbsp;&nbsp;
                                        {% endif %}
                                        {% if i.latitude or i.longitude %}
                                            <b>Lat:</b>{{ i.latitude|round(2, 'floor') }}&nbsp;&nbsp;
                                            <b>Lon:</b>{{ i.longitude|round(2, 'floor')}}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if a.integrations|length == 0 %}
                                No integrated
                            {% endif %}
                        </td>
                        <td>
                            {% if a.integrations|length == 0 %}
                            <a class="btn btn-default" title="{{ 'Add an integration'|trans }}" href="{{ path(a.edit_route, {'uuid':a.userapi_id, 'step':1}) }}">
                                <span class="glyphicon glyphicon-edit"></span></a>
                            {% endif %}

                            <a class="btn btn-default" href="{{ path('b_api_delete_userapi', {'userapi_uuid':a.userapi_id}) }}">
                                <span class="glyphicon glyphicon-remove"></span></a>

                            {% if a.edit != "" and a.url_name !="cale-google" %}
                            <a class="btn btn-default" href="{{ a.edit }}"
                               data-step="2" data-intro="Each API can have more than one integration. Example: The same weather API
can be used to get the weather in Berlin or in New York city."
                            ><span class="glyphicon glyphicon-plus"></span> {{ 'Add new'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                {% else %}
                {{ 'no_apis_configured'|trans }}.
                    <a  href="{{ path('b_api_configure') }}">
                        {{ 'api_configure_first'|trans }}</a>
            {% endif %}
        </div>

    </div>
{% endblock %}
