{% extends 'backend/backend-base.html.twig' %}

{% block body %}

  <table style="border-spacing:4px;width: 100%">
    <thead>
    </tr>
      <th>ID</th>
      <th>First</th>
      <th>Username</th>
      <th>Email</th>
      <th>Apis</th>
      <th>Screens</th>
      <th>Created</th>
      <th>First login</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr style="border:1px #1b6d85 dashed">
        <td>{{ user.id }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.userApis|length }}</td>
        <td>{% for s in user.screens %}
            <div class="row" style="height: 20px">
          <a href="{{ path('public_screen_render', {'username':user.name,'uuid':s.id}) }}" target="_blank">
            <span class="glyphicon glyphicon-picture"></span> {{ s.name }}</a>
            </div>
          {% endfor %}
        </td>

        <td>{{ user.created|date("D d.m.Y") }}</td>
        <td>{{ user.lastLogin|date("d.m.Y H:i") }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
