{% extends 'backend/backend-base.html.twig' %}
{% if screens|length >= user_max_screens %}
    {% set add_button_state = 'disabled' %}
{% else %}
    {% set add_button_state = '' %}
{% endif %}

{% block body %}
    <p>{{'screen_edit_configure1'|trans}} {{ user_max_screens }}
        {{'screen_edit_configure2'|trans}}.</p>
    <div class="text-right" style="margin-bottom: 0.4em">
        <button type="button" {{ add_button_state }} class="btn btn-primary" onclick="window.location='{{ path('b_screen_edit') }}'">
            {{'screen_add'|trans}}</button>
    </div>


 {% if screens|length %}
<table class="common-lists-table">
    <thead>
    <tr>
        <th>{{'Name'|trans}}</th>
        <th>{{'Template'|trans}}</th>
        <th>E-Ink display</th>
        <th>{{'Partials'|trans}}</th>
        <th>{{'Created'|trans}}</th>
        <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    {% for s in screens %}
        <tr>
            <td><b>{{ s.name }}</b><br>
            <small>{{ s.id }}</small></td>
            <td><img width="80" src="/img/display-templates/{{ s.templateTwig|replace({"html.twig": "svg"}) }}"></td>
            <td>{{ s.display }}</td>
            <td><a href="{{ path('b_screen_partials', {'uuid':s.id}) }}">
                    <span class="glyphicon glyphicon-paperclip"></span> {{ s.partials|length }}</a></td>
            <td>{{ s.created|date("d.m.Y") }}</td>
            <td>
                <a class="btn btn-default" href="{{ path('b_screen_edit', {'uuid':s.id}) }}">
                    <span class="glyphicon glyphicon-picture"></span> {{'Config'|trans}}</a>
                {% if s.partials|length %}
                <a class="btn btn-default" href="{{ path('b_screen_render', {'uuid':s.id}) }}"
                   data-toggle="tooltip" title="Preview your screen in HTML">
                            <span class="glyphicon glyphicon-screenshot"></span> {{'screen_render'|trans}}</a>
                    {% else %}
                        <a class="btn btn-default" href="{{ path('b_screen_delete', {'uuid':s.id}) }}">
                            <span class="glyphicon glyphicon-remove"></span> {{'Delete'|trans}}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


 {% else %}
     You still don't have any screens configured. <a href="{{ path('b_screen_edit') }}">{{'screen_add'|trans}}</a>
{% endif %}
{% endblock %}
