{% extends 'backend/backend-base.html.twig' %}

{% block body %}

 {% if screens|length %}
<table class="common-lists-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Template</th>
        <th>Eink output</th>
        <th>Partials</th>
        <th>Created</th>
        <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    {% for s in screens %}
        <tr>
            <td>{{ s.uuid }}</td>
            <td>{{ s.name }}</td>
            <td><img width="80" src="/img/display-templates/{{ s.templateTwig|replace({"html.twig": "svg"}) }}"></td>
            <td>{{ s.display }}</td>
            <td><a class="alert alert-success" href="{{ path('b_screen_partials', {'uuid':s.uuid}) }}">{{ s.partials|length }}</a></td>
            <td>{{ s.created|date("d.m.Y") }}</td>
            <td>
                <a class="alert alert-info" href="{{ path('b_screen_edit', {'uuid':s.uuid}) }}">Edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


 {% else %}
     You still don't have any screens configured.
     <h3><a href="{{ path('b_screen_edit') }}">Create one screen</a></h3>
{% endif %}
{% endblock %}
