{% extends '/base.html.twig' %}
{% set bmp_800_demo = 'https://img.cale.es/bmp/cale_www/5f927722b40d9' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="text-center" style="margin-top: -2em">
    <h3><span class="cale">bienvenidos a CALE</span></h3>
    <h4>
        <span class="cale">CALE</span> es un administrador que permite mezclar el contenido
        de distintas APIs en tus pantallas con un diseño personalizado
    </h4>

        {% if app.environment != 'dev' %}
            <video id="index" title="Video ES: Convierte tu Screen en un Epaper" width="100%" controls autoplay>
                <source src="{{ cdn_s3 }}/v/c-converts-your-screens.mov">
            </video>
        {% endif %}
    </div>
    <h5>Puedes usarlo en tu tablet o en un display WiFi de tinta electronica que cada
        hora se actualiza automaticamente con nuevos contenidos con un consumo de bateria minimo.
    </h5>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-6 col-xs-12 text-center">
            <button type="button" class="btn btn-primary form-control" onclick="window.location='{{ path('login') }}'">
                Login</button>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 text-center">
            <button type="button" class="btn btn-success form-control" onclick="window.location='{{ path('register') }}'">
                Crea una cuenta</button>
        </div>
        <div class="col-md-2"></div>
    </div>

    <br><br>
    <div class="row">
        <div class="col-md-12">
            <h3>Ejemplo con visualización con Etherscan y Cloudwatch monitoring API</h3>

            <h4>Imágen renderizada para un <a href="{{ path('displays-eink') }}">Epaper display de 800*600 pixeles</a></h4>
            <img src="{{ bmp_800_demo}}" style="border:1px solid #EEEEEE;margin-left:1px" width="98%"><br>
            <small style="font-size:9pt;color:#666666">Bitmap de 800*600 pixeles. Generado cada 2 horas desde nuestro Web-Service</small><br>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
    <script type="text/javascript" src="/js/tracking/analytics-html5-video.js"></script>
    <script>
        var videoId = document.getElementById('index')
        if (videoId) {
            document.addEventListener('DOMContentLoaded', init, false)
            var videoTitle = videoId.getAttribute('title')
        }
    </script>
{% endblock %}