{% extends 'backend/backend-base.html.twig' %}

{% block body %}

    <b>{{ 'authorize_g_calendar_2'|trans }}</b><br><br>


    <a href="{{ authUrl }}">
    <img src="/assets/wizard/google-auth-calendar.png">
    </a><br>
    <h4>
        <a href="{{ authUrl }}">Click here to connect your Calendar</a>
    </h4>

 {% endblock %}

    {% block javascripts %}
        <script>
            let render_preview = {{ renderPreview }};
            {# console.log(render_preview, "{{ intapi_uuid }}");#}

            var xhReq = new XMLHttpRequest();
            if (render_preview) {
                xhReq.open("GET", "{{ path('json_google_calendar', {'int_api_id':intapi_uuid}) }}", false);
                xhReq.send(null);
                var jsonObj = JSON.parse(xhReq.responseText);
                var str = JSON.stringify(jsonObj, undefined, 2); {# 2 = spacing #}
                api_preview.innerHTML = '';
                api_preview.appendChild(document.createElement('pre')).innerHTML = syntaxHighlightJson(str);
            }
        </script>
    {% endblock %}
