{% extends 'backend/backend-base.html.twig' %}

{% block body %}

    {{ 'authorize_g_calendar_1'|trans }}<br>
    {{ 'authorize_g_calendar_2'|trans }}<br>


<a href="{{ authUrl }}" target="_blank">
    <img src="/assets/wizard/google-auth-calendar.png"><br>
    <h4>
        <a href="{{ authUrl }}" target="_blank">Google Authorize external link</a>
    </h4>
    {% endblock %}

    {% block javascripts %}
        <script>
            let render_preview = {{ renderPreview }};
            console.log(render_preview, "{{ intapi_uuid }}");

            var xhReq = new XMLHttpRequest();
            if (render_preview) {
                xhReq.open("GET", "{{ path('json_google_calendar', {'int_api_id':intapi_uuid}) }}", false);
                xhReq.send(null);
                var jsonObj = JSON.parse(xhReq.responseText);
                var str = JSON.stringify(jsonObj, undefined, 2); {# 2 = spacing #}
                api_preview.innerHTML = '';
                api_preview.appendChild(document.createElement('pre')).innerHTML = syntaxHighlightJson(str);
            }
        </script>
    {% endblock %}
