{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    <div class="row">

        <div class="col-md-12">

            Please click here to authorize Cale read access to:<br>
                <a href="{{authUrl}}" target="_blank">
                    <img src="/assets/wizard/google-auth-calendar.png"><br>
                    <h4>
                        <a href="{{authUrl}}" target="_blank">Google Authorize external link</a>
                    </h4>
            <br><br>

            Copy your token and paste it here.<br><br><br>

            <div class="row">
                <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
                </div>

                <label style="margin-left: 1em">API response</label>
                <div class="col-md-6" id="api_preview" style="height: 500px;overflow-y: auto">
                    Preview after saving configuration settings<br>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
