{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-7">
            This API shows the URL where your SCD40 IOT sensor should send the Request and how is the data format.

            {{ form_errors(form) }}

            {{ form_row(form.name) }}
        </div>
        <div class="col-md-3">
            <label>Preview with dummy values</label>
            Your IOT should send a POST request to the following URL:<br>
            <b>http://cale.es/{{ path('api_scd40_log') }}</b>

            <br>Data sample:
            <code>
                {{ default_json|raw }}
            </code>
            Make sure to add client information just as in sample above.

        </div>
    </div>
    {{ form_row(form.submit) }}

            {{ form_end(form) }}
        </div>
{% endblock %}
