{% extends 'backend/backend-base.html.twig' %}

{% block stylesheets %}
    <link href="/css/weather-icons.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="row screen-render-divs" id="screen-preview-url">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <form>

        <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <label for="route_html">Html URL:</label>
                    <input type="text" value="{{ html_url }}" id="route_html"
                           onclick="this.setSelectionRange(0, this.value.length)" class="form-control">
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    {% if screen_public %}
                    <button type="button" class="btn btn-default" onclick="window.location='{{ html_url }}'"
                            id="route_html"
                            style="margin-top:1.8em">Preview HTML
                    </button>
                    {% endif %}
                </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                {% if screen_hits %} <label>Screen views:</label> {{ screen_hits }}<br>
                {% endif %}
                {% if screen_public %}
                    <span class="glyphicon glyphicon-alert"></span> <b>This Screen is public</b><br>
                    <small>Do not share the link if you care for your privacy</small>
                {% endif %}
            </div>
        </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <label for="route_html">Bitmap URL for the ESP32:</label>

                    {% if screen_display is not null %}
                        <input type="text" value="{{ image_url }}" id="route_bmp"
                               onclick="this.setSelectionRange(0, this.value.length)" class="form-control" style="font-weight:bold">
                    {% endif %}
                    {% if screen_display is not null and screen_public == false %}
                        <small>This screen is not public so you cannot access this URLs directly. Access headers:<br>
                        Authentication: Bearer {{ screen_bearer }}</small>
                    {% endif %}

                    {% if screen_display is null and screen_public %}
                        <div class="row text-right">
                            Cannot render image since the is no display associated with this Screen
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">

                    {% if screen_display is not null and screen_public %}
                        <button type="button" class="btn btn-default"
                                onclick="popitup('{{ image_url }}','{{ screen_display.width }}','{{ screen_display.height }}')"
                                id="route_html"
                                style="margin-top:1.8em">Preview Bitmap
                        </button>
                    {% endif %}
                </div>

            </div>
        </form>
     </div>
    </div>

        {% if screen_display is not null %}
        <div class="row screen-render-divs" id="screen-settings">
            {{ form_start(form) }}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4><span class="glyphicon glyphicon-picture"></span> Screenshot output settings for {{ screen_display.displayName }}</h4>
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        {{ form_row(form.outBrightness) }}
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        {{ form_row(form.outZoomFactor) }}
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12">
                        {{ form_row(form.outCacheSeconds) }}
                    </div>
                    <div class="col-md-1 col-sm-6 col-xs-6">
                        <label>Imagick</label><br>
                        {{ form_widget(form.imgDitherOptions) }}
                        {{ form_widget(form.imgDither) }} {{ form_label(form.imgDither) }}<br>
                        {#<small>{{ 'only_esp32_supported'|trans }}</small>#}
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        {{ form_row(form.outJpegCompression) }}
                        <div style="text-align:center" id="jpg_compression"></div>
                    </div>
                    <div class="col-md-1 col-sm-6 col-xs-6">
                        <label>Extra</label><br>
                        {{ form_widget(form.outSsl) }} {{ form_label(form.outSsl) }}<br>
                        {{ form_widget(form.outCompressed) }} {{ form_label(form.outCompressed) }}<br>
                    </div>
                    <div class="col-md-1 col-sm-6 col-xs-6">
                        {{ form_row(form.outBitDepth) }}
                    </div>
                </div>
                {# {'attr': {'style': 'margin-top: 1.7em'}} #}
                <div class="row" style="background-color:#000000;padding-top: 0.4em;padding-bottom: 0.4em">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        {{ form_widget(form.submitLeft) }}
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <a class="btn btn-default form-control" href="{{ path('b_screen_edit', {'uuid':uuid}) }}">
                            <span class="glyphicon glyphicon-picture"></span> Screen {{'Config'|trans}}</a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="{{ path('b_screen_partials', {'uuid':uuid}) }}"
                           class="btn btn-default form-control">
                            <span class="glyphicon glyphicon-paperclip"></span> {{ 'screen_edit_partials'|trans }}</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 text-right">
                    {{ form_widget(form.submit) }}
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
        {% endif %}

<div class="row text-center" style="margin-bottom: 1em">
    {% if image_url != '' %}
        {% if screen_public %}
                <img src="{{ image_url }}">
            {% else %}
                <small>
                Authentication: Bearer TOKEN sent in headers so you can preview your image
                </small><br>
                <img src="{{ path('b_render_image', {'uuid':uuid, 'isThumbnail':0}) }}">
        {% endif %}

        <br>
        {% if screen_image_type == 'JPG' and form.vars.value.outBitDepth != '24'  %}
            <br><span class="alert alert-danger">Note that for Jpeg output is better to select 24 bits depth color option</span><br>
            {% else %}
                <small>Image type: {{ screen_image_type }}</small>
        {% endif %}

        {% else %}
        <h4>{{ 'screen_no_display_message'|trans }}
            <a href="{{ path('b_screen_edit', {'uuid': uuid}) }}">{{ 'screen_add_display'|trans }}</a></h4>
    {% endif %}
</div>

    {% include template %}

{% endblock %}

{% block javascripts %}
<script>
    function popitup(url, width, height) {
        o = window.open(url,'name','height='+height+',width='+width);
        if (window.focus) {o.focus()}
        return false;
    }

   let jpeg_comp_range = document.getElementById('outJpegCompression')
    let jpg_compression = document.getElementById('jpg_compression')
    jpg_compression.innerText = jpeg_comp_range.value
    jpeg_comp_range.onchange=function(){ jpg_compression.innerText = this.value }

</script>
{% endblock %}