{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    <p>
        {{ 'screen_edit_line1'|trans }}<br>
        {{ 'screen_edit_line2'|trans }}</p>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.name) }}

            {{ form_row(form.templateTwig) }}

            {{ form_row(form.display) }}

            <div class="panel panel-default" style="margin-top: 1em">
                <div class="panel-heading">Privacy settings</div>
                <div class="panel-body">
                {{ form_row(form.public) }}

                {{ form_row(form.outBearer) }}
        {{ 'screen_token_firmware'|trans }}
                    <a href="{{ path('firmware', {'_locale': 'en'}) }}">CALE Firmware</a>:
<pre class="small">String bearer = "{{ form.vars.value.outBearer }}";
</pre>
                </div>
            </div>


            {{ form_widget(form.submit) }}
        </div>
        <div class="col-md-4 text-right" style="margin-top: -1.4em">
            {% if uuid is not null %}
                <a href="{{ path('b_screen_partials', {'uuid':uuid}) }}">{% endif %}

            <img id="template" src="">{% if uuid is not null %}</a>{% endif %}<br>

            {% if uuid is not null %}
                <a href="{{ path('b_screen_partials', {'uuid':uuid}) }}"
                   style="margin-right: 3.4em;margin-top:-3em"
                   class="btn btn-default form-control">
                    <span class="glyphicon glyphicon-paperclip"></span> {{ 'screen_edit_partials'|trans }}</a>
            {% endif %}

            <div class="panel panel-default" style="margin-top: 1em">
                <div class="panel-heading">{{ 'screen_token_access_title'|trans }}</div>
                <div class="panel-body text-left" >
            <p style="margin-left: 0.4em">
              {{ 'screen_token_request'|trans }}:</p>
<pre class="small">
Authorization: Bearer {{ form.vars.value.outBearer }}
</pre>
                </div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        let template_twig = document.getElementById('templateTwig');
        let template_img = document.getElementById('template');

        setTemplateImage();

        template_twig.onchange = function () {
            setTemplateImage();
        };

        function setTemplateImage() {
            if (template_twig.value !== '') {
                let img_src = template_twig.value.replace('html.twig', 'svg');
                template_img.src = '/img/display-templates/' + img_src;
            }
        }
    </script>
{% endblock javascripts %}