{% extends 'backend/backend-base.html.twig' %}

{% macro rowPrototype(form) %}
   <div class="row" style="border: 1px solid #2d545e">
   <div class="col-md-12">
       {{ form_row(form.partials.vars.prototype.integrationApi) }}
       {{ form_row(form.partials.vars.prototype.placeholder) }}
       {{ form_row(form.partials.vars.prototype.invertedColor) }}
       {{ form_row(form.partials.vars.prototype.maxResults) }}
       {{ form_row(form.partials.vars.prototype.sortPos) }}
   </div>
   </div>
{% endmacro %}


{% block body %}
<p>To compose your screens you can add content partials that will render content in the template column you choose.
This form is a work in progress and will evolve to have a better usability after a few design iterations.</p>
{{ form_start(form) }}
{{ form_errors(form) }}

    <div class="collection_container">
        {#{{ form_row(form.partials) }}#}
        <div class="row">
            <div class="col-md-5 col-sm-6">
              <button type="button" class="add_item btn btn-success">Add content partial</button>
             </div>
            <div class="col-md-5 col-sm-6">
            {{ form_widget(form.submit) }}
            </div>
        </div>
<br>
        {% if form.partials|length %}
        <label>Screen partials</label>
        {% endif %}
        {# {{ form_widget(form.partials.vars.prototype)|e('html_attr') }} #}
        <div class="collection_holder row"
             data-prototype="{{ _self.rowPrototype(form)|e }}">


            {# Iterate over each existing partials #}
            {% for partial in form.partials %}
                <div class="item row" style="border: 1px solid #2d545e">
                    <div class="col-md-12">
                        {{ form_row(partial.integrationApi) }}
                        {{ form_row(partial.placeholder) }}
                        {{ form_row(partial.invertedColor) }}
                        {{ form_row(partial.maxResults) }}
                        {{ form_row(partial.sortPos) }}
                        <button type="button" class="delete_item btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>

{{ form_end(form) }}

{% endblock %}


{% block javascripts %}
    {# TODO: Get rid of jquery since we are only using it here for handling the frontend part of Symfony collections #}
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/js/engine/collection.js"></script>
<script>

</script>
{% endblock javascripts %}