{% extends 'backend/backend-base.html.twig' %}

{% block body %}

  <table style="border-spacing:4px;width: 100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>RendererRoute</th>
      <th>EditRoute</th>
      <th>Category</th>
      <th>Auth. note</th>
      <th>UserApis</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for a in apis %}
      <tr style="border:1px #1b6d85 dashed">
        <td>{{ a.id }}</td>
        <td>{{ a.name }}</td>
        <td><small>{{ a.jsonRoute|replace({"App\\Controller\\Render\\": ""}) }}</small></td>
        <td><small>{{ a.editRoute }}</small></td>
        <td>{{ a.category.name }}</td>
        <td><small>{{ a.authNote }}</small></td>
        <td>{{ a.userApis|length }}</td>
        <td><a href="{{ path('b_admin_api_edit', {'id': a.id}) }}">
            <h3><span class="glyphicon glyphicon-edit"></span></h3></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
