{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
        body {
            background-color: #e0e0e0;
            color:black;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}

    <h3>Firmware for Espressif boards without Bluetooth</h3>

    <div class="panel panel-default" style="margin-top: 1em">
                <div class="panel-heading">Quick access:</div>
                <div class="panel-body">
    <ul>
        <li><a href="#a1">How to compile and upload to your board</a></li>
        <li><a href="#a2">Logging of the internal ESP32 IP Address</a></li>
        <li><a href="#a3">Selecting the right driver for your display</a></li>
        <li><a href="#s_esp32">Schematics ESP32</a></li>
        <li><a href="#s_esp8266">Schematics ESP8266</a></li>
        <li><a href="{{ path('firmware-idf') }}">Firmware for ESP-IDF</a> <span class="cale" style="font-weight: bold">NEW!</span></li>
        <li><a href="{{ path('firmware-blue') }}">Configuring the Firmware using Bluetooth - master</a></li>
        <li><a href="{{ path('firmware-t5') }}">Quick start with the Lilygo T5 - cale_t5</a></li>
        <li><a href="{{ path('firmware-tft') }}">Firmware for TFT displays - cale_tft</a></li>
    </ul>

    </div></div>

    <p>
    <b>We believe that embedded software has to be solid, simple and secure.</b><br>
        That's why since we started developing CALE, there where many
        <a href="https://github.com/martinberlin/eink-calendar/issues?utf8=%E2%9C%93&q=is%3Aissue">experiments tested</a>,
        including Zlib compression and other interesting features, like sending WiFi configuration via Bluetooth or making the ESP32 a Server
        for some minutes and let the user send a custom text or website URL to render in the display.<br>
        But for this version the decision was to leave everything out and leave only the essential, that is: <br>

        <ul>
    <li><b>A way to stream a binary image</b> from an external URL into ESP32/ESP8266 (WiFi.h / WiFiClient.h)</li>
    <li><b>An interpreter that reads this Bitmap</b> and prepares a Buffer for the display (based on gxEPD library examples)</li>
    <li><b>An authorization Token</b> to make sure you don't need to leave your Calendar events open to the world (Bearer token)</li>
    </ul>
    The part that still not fully tested and hence not included on this release, is to add the WiFi Secure Client so we can send this
        token with TLS encryption over secure socket layer.
    <a name="a1"></a><br><br>
<br>The open source Firmware is here:<br>

    <h4><a href="https://github.com/martinberlin/eink-calendar/tree/cale">https://github.com/martinberlin/eink-calendar</a> - cale branch</h4>
    </p>

    <h4>How to compile and upload to your board</h4>

   <p>We assume that you are familiar with the <a href="https://fasani.de/2018/11/24/platformio-an-alternative-to-arduino-ide-and-a-complete-ecosystem-for-iot/">installation of Platformio</a> that is a great IDE to upload firmware to your boards and also to
    keep your dependencies contained in your project.

    The configuration is not complicated. After downloading just rename:<br>
    lib/Config/Config.h.dist to <br>
    Config.h<br><br>

    and fill it with your WiFi name and password.<br>
   </p>

    The most important part of the configuration is to copy the image URL from CALE "Render Screen" section into the configuration.
    Just click on the <b>Bitmap URL for the ESP32</b> to select all and copy it into the screenUrl and do the same with the <b>Bearer
    token</b> if you are using a private Screen:<br>

<pre>
    char screenUrl[] = "http://img.cale.es/bmp/USERNAME/SCREEN_ID";

    // Security setting, leave empty *only* if your screen is public (Not recommended)
    String bearer = "";
</pre>

    <a name="a2"></a><br><br><br><br>
    <h5><b>Logging of the internal ESP32 IP Address</b></h5>
    By default CALE is logging the internal IP Address since it may be useful for statistics and to identify
    your device image requests from the administration image requests. If for any reason you want to disable this just comment this line on the Config file:

<pre>
#define ENABLE_INTERNAL_IP_LOG
</pre>

    <a name="a3"></a><br><br><br>
    <h5><b>Selecting the right driver for your display</b></h5>
    We prepared the Config file so you can just uncomment a single line to select the right gxEPD class for your display.
    For example to use a Waveshare or Good display 7.5 of 800x480 pixels, uncomment:

    <pre>
#define GDEW075T7    // 7.5" b/w 800x480
</pre>

    Leave all the others models commented. This way you are already inserting the right include for your E-Ink display.


    <h5><b>GPIOs for the E-Ink SPI interface</b></h5>
    Wiring the E-Ink SPI to the Espressif board is not super complicated.
    The E-Ink SPI has 6 cables plus VIN that should be connected to the 3.3v of your board plus ground.
    The E-Ink consume really little so you can test this always with the USB until you decide to connect a Lipo 3.7v battery.<br>
    <pre>
    // Configuration example for ESP32 TinyPICO:
    int8_t EINK_CS = 5;
    int8_t EINK_DC = 22;
    int8_t EINK_RST = 21;
    int8_t EINK_BUSY = 4;

    // Handles display rotation
    int8_t eink_rotation = 0;
    </pre>
    Using gxEPD library the DataIn from the display should be connected to MOSI in your board (In ESP32 is GPIO 23)<br>
    And display clock should be wired to GPIO 18 in the ESP32 (CLK).
    Please check the schematics below to understand how it should be wired the E-Ink SPI interface to the Espressif board.

    <br>For more detailed configuration notes please check the repository README file.

    <h4>Keep your events and API content private</h4>

    Note that we don't recommend to use public screens since your calendar may contain private information like events,
    bank transfers annotations or doctor appointments that you should not open to the world to see. So use always a security token.

    <a name="s_esp32"></a><br>
    <h4>ESP32 Schematic</h4>
    <p>You can use any ESP32. The only requirement if you want your CALE to have a long battery life is that consumes less than 0.8 mA in deeepsleep mode.</p>
    <img src="/assets/svg/schematic-cale-esp32.svg" width="100%">

    <a name="s_esp8266"></a><br>
    <h4>ESP8266 Schematic</h4>
    <img src="/assets/svg/schematic-cale-esp8266.svg" width="100%">

    {% if adsense_active %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Cale vertical -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5919782356383484"
             data-ad-slot="6845528655"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}