{% extends 'base.html.twig' %}

{% block carousel %}
    {% include "partials/carousel.html.twig" %}
{% endblock %}
{% block body %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Login</h3>
            {{ form_errors(form) }}
            {{ form_label(form._username) }}
            {{ form_widget(form._username) }}

            {{ form_label(form._password) }}
            {{ form_widget(form._password) }}
            <br>
            {{ form_widget(form.submit) }}

            <div style="height: 40px"></div>
            <a href="{{ path('register') }}">Register here</a>
        </div>
        <div class="col-md-4"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}