{% extends 'base.html.twig' %}

{% block carousel %}
    {% include "partials/carousel.html.twig" %}
{% endblock %}
{% block body %}
    <div class="row" style="margin-top: 40px">

        <div class="col-md-3" style="margin-top: 1.3em">
            {% if app.environment != 'dev' %}
            <h4>This E-mail is just to recover your password.</h4>
            We will not sent any unsolicited E-mail.
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>{{ 'create_account'|trans }}</h3>

                {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.firstname) }}

            {{ form_label(form.language) }}
            {{ form_widget(form.language) }}

            <br><br><p>{{ 'used_for_login'|trans }}</p>
            {{ form_row(form.email) }}

            {{ form_label(form.plainPassword.first, 'Password') }}
            {{ form_widget(form.plainPassword.first,{'attr': { 'class': 'form-control' }}) }}
            {{ form_label(form.plainPassword.second, 'Repeat password') }}
            {{ form_widget(form.plainPassword.second,{'attr': { 'class': 'form-control' }}) }}
            <br>
            {{ form_widget(form.submit) }}

            {{ form_end(form) }}

            <div style="height: 40px"></div>
        </div>
        <div class="col-md-3"></div>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
    {# todo: this makes login route to the b_iptolocation
    <script>
    var xhReq = new XMLHttpRequest();
    xhReq.open("GET", "{{ path('b_iptolocation', {'type':'language'}) }}", false);
    xhReq.send(null);
    var getJson = xhReq.responseText;
    var obj = JSON.parse(getJson);
    document.getElementById('language').value = obj.code;
    </script>
    #}
{% endblock %}